[submodule "zsh/typewritten"]
	path = zsh/typewritten
	url = https://github.com/reobin/typewritten.git
[submodule "todo/addons/todo.txt-many"]
	path = todo/addons/todo.txt-many
	url = https://gitlab.com/adaschma/todo.txt-many.git
[submodule "zathura/Zathura-Pywal"]
	path = zathura/Zathura-Pywal
	url = https://github.com/GideonWolfe/Zathura-Pywal.git
[submodule "todo/addons/stale"]
	path = todo/addons/stale
	url = https://github.com/tgdnt/stale.git
[submodule "todo/addons/all_repri"]
	path = todo/addons/all_repri
	url = https://github.com/bapfeld/all_repri.git
[submodule "vim/.vim/pack/mattf1n/opt/vim-slime"]
	path = vim/.vim/pack/mattf1n/opt/vim-slime
	url = https://github.com/jpalardy/vim-slime
[submodule "vim/.vim/pack/mattf1n/start/catppuccin"]
	path = vim/.vim/pack/mattf1n/start/catppuccin
	url = https://github.com/catppuccin/nvim
[submodule "vim/.vim/pack/mattf1n/opt/vim-cute-python"]
	path = vim/.vim/pack/mattf1n/opt/vim-cute-python
	url = https://github.com/sethwoodworth/vim-cute-python
[submodule "kitty/colors/tokyonight"]
	path = kitty/colors/tokyonight
	url = https://github.com/aerosol/tokyonight-kitty
[submodule "kitty/colors/gruvbox-material-kitty"]
	path = kitty/colors/gruvbox-material-kitty
	url = https://github.com/rsaihe/gruvbox-material-kitty
[submodule "zathura/colors/zathura-gruvbox"]
	path = zathura/colors/zathura-gruvbox
	url = https://github.com/eastack/zathura-gruvbox
[submodule "vim/.vim/pack/mattf1n/start/vim-lsp-settings"]
	path = vim/.vim/pack/mattf1n/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule "vim/.vim/pack/mattf1n/start/vim-lsp"]
	path = vim/.vim/pack/mattf1n/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/.vim/pack/mattf1n/start/vim-vsnip"]
	path = vim/.vim/pack/mattf1n/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "vim/.vim/pack/mattf1n/start/vim-vsnip-integ"]
	path = vim/.vim/pack/mattf1n/start/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ
